@using WebCodeFirstApproch.Models
@model MultiModelData

@{
    ViewBag.Title = "Index";
}

@Html.Raw(TempData["InsertMessage"]);

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(Model => Model..StdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StdGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StdAge)
        </th>
        <th></th>
    </tr>*@

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdAge)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StdId }) |
                @Html.ActionLink("Details", "Detials", new { id = item.StdId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StdId })
            </td>
        </tr>
    }

</table>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.StdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StdGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StdAge)
        </th>
        <th></th>
    </tr>*@

    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAge)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmpId }) |
                @Html.ActionLink("Details", "Detials", new { id = item.EmpId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
            </td>
        </tr>
    }

</table>
