@{
    ViewBag.Title = "Home Page";
}


@{ 

    var empp = ViewBag.Employee;

}

<h1>
    <ul>
            <li>

                <p>@empp.EmpID</p>

            </li>
            <li>

                <p>@empp.EmpName</p>

            </li>
            <li>

                <p>@empp.EmpEmail</p>

            </li>
    </ul>

    <h1>View Bag data : @ViewBag.Comit</h1>
    <h1>View Data data : @ViewData["Comit"]</h1>
</h1>