@model WebDataAnnotation.Models.Employee

@{
    ViewBag.Title = "Home Page";
}

<h1>Employee Information</h1>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.EmployeeID) @Html.TextBoxFor(model => model.EmployeeID, new { @class = "form-control" }) &nbsp; @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeeName) @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control" }) &nbsp; @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeeAge) @Html.TextBoxFor(model => model.EmployeeAge, new { @class = "form-control" })&nbsp; @Html.ValidationMessageFor(model => model.EmployeeAge, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeeGender) @Html.TextBoxFor(model => model.EmployeeGender, new { @class = "form-control" })&nbsp; @Html.ValidationMessageFor(model => model.EmployeeGender, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeeEmail) @Html.TextBoxFor(model => model.EmployeeEmail, new { @class = "form-control" })&nbsp; @Html.ValidationMessageFor(model => model.EmployeeEmail, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeePassword) @Html.EditorFor(model => model.EmployeePassword, new { htmlAttributes = new { @class = "form-control" } })&nbsp; @Html.ValidationMessageFor(model => model.EmployeePassword, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.CompareEmployeePassword) @Html.EditorFor(model => model.CompareEmployeePassword, new { htmlAttributes = new { @class = "form-control" } })&nbsp; @Html.ValidationMessageFor(model => model.CompareEmployeePassword, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeeOrganization) @Html.TextBoxFor(model => model.EmployeeOrganization, new { @class = "form-control", @VaLue = "Goggle Developers", @readonly = true })</p>
    <p>@Html.LabelFor(model => model.EmployeeAddress) @Html.EditorFor(model => model.EmployeeAddress, new { htmlAttributes = new { @class = "form-control" } })&nbsp; @Html.ValidationMessageFor(model => model.EmployeeAddress, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeeJoiningDate) @Html.EditorFor(model => model.EmployeeJoiningDate, new { htmlAttributes = new { @class = "form-control" } })&nbsp; @Html.ValidationMessageFor(model => model.EmployeeJoiningDate, "", new { @class = "text-danger" })</p>
    <p>@Html.LabelFor(model => model.EmployeeJoiningTime) @Html.EditorFor(model => model.EmployeeJoiningTime, new { htmlAttributes = new { @class = "form-control" } })&nbsp; @Html.ValidationMessageFor(model => model.EmployeeJoiningTime, "", new { @class = "text-danger" })</p>
    <br />
    <input type="submit" value="Submit" class="form - control btn btn-primary" name="submit" />    

    @Html.Raw(ViewData["success"]);
}